.height-100 {
	height: 100%;
}
.u-icon-v1.u-icon-size--lg, .u-icon-v1.u-icon-size--lg .u-icon__elem-regular, .u-icon-v1.u-icon-size--lg .u-icon__elem-hover {
	width: 6rem;
	height: 6rem;
	font-size: 2.5rem;
}

.image-container {
	width: 70%;
	margin: auto;
}